<!doctype html>
<head>
		<title>QuickType</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/index.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<link rel="icon" type="image/x-icon" href="img/logo.png">
	</head>
	<body class="landing">
        
        		<!-- Header -->
			<header id="header"  class="skel-layers-fixed">
				<a id="logo" href="#"><img src="img/logo.png" alt="logo" style="width:50px;height:50px;"/></a>
				<h1 style="color: white;font-size: 28px;font-weight: bold;"><a href="index.html">QuickType</a></h1>
				<nav id="nav">
					<ul>
						<li><a id="leader_board" href="#learderboard">Leaderboard</a></li>
						<li><a id="about" href="#about">About</a></li>
						<li><a id="" href="#login" class="button special">Try it</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Typing Speed Matters!</h2>
					<p>We provide the most accurate tool of measuring your typing speed.</p>
					<ul class="actions">
						<li><a id="modal_trigger" href="#modal" class="button big alt">Try it</a></li>
					</ul>
				</div>
			</section>
            
          
		<!-- One -->
			<section id="one" class="wrapper style1">

				<header class="major">
					<h2>Benefits</h2>
					<p>Reasons why you should improve your typing speed</p>
				</header>

				<div class="container">
					<div class="row">

						<div class="3u">
							<section class="special box">
								<i class="icon fa-clock-o major"></i>
								<h3>Time</h3>
								<p>Factor in time to think about what you want to say and the time it takes to start and stop if you need to look at the keyboard and you could be looking at close to an hour to get that task done.</p>
							</section>
						</div>
						<div class="3u">
							<section class="special box">
								<i class="icon fa-heart major"></i>
								<h3>Health</h3>
								<p>If you spend a significant amount of time at a desk, in front of a computer then you probably know that sitting and typing can take a toll on your body.</p>
							</section>
						</div>
						<div class="3u">
							<section class="special box">
								<i class="icon fa-eye major"></i>
								<h3>Focus</h3>
								<p>Think about every time you have to look at the keyboard to find the right key.  Or, maybe you find yourself constantly making mistakes and having to go back and make corrections as you type.</p>
							</section>
						</div>
						<div class="3u">
							<section class="special box">
								<i class="icon fa-suitcase major"></i>
								<h3>Job Prospects</h3>
								<p> Typing is not an optional skill anymore. Many employers require computer skills and a certain typing speed to even be considered for some positions.</p>
							</section>
						</div>
						
					</div>
				</div>
			</section>
		

            

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">

					<header class="major">
						<h2>Leaderboard</h2>
						<p>Our fastest typers.</p>
					</header>

					<section class="profiles">
						<div class="row">
							<section class="3u 6u(medium) 12u$(xsmall) profile">
								<img src="img/profile_placeholder.gif" alt="" />
								<h4>Engr. Ibrahim</h4>
								<p>1st</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="img/profile_placeholder.gif" alt="" />
								<h4>Engr Salih</h4>
								<p>2nd</p>
							</section>
							<section class="3u 6u(medium) 12u$(xsmall) profile">
								<img src="img/profile_placeholder.gif" alt="" />
								<h4>Engr. Abdulkadir</h4>
								<p>3rd</p>
							</section>
							
							<section class="3u 6u(medium) 12u$(xsmall) profile">
								<img src="img/profile_placeholder.gif" alt="" />
								<h4>Engr. Abdulkadir</h4>
								<p>4th</p>
							</section>
						
						</div>
					</section>
				</div>
			</section>
			
			
		<!-- Quote -->
		<div id="quote">
			<div class="container">
				<section>
					<h3><blockquote>&ldquo;Just remember, once you're over the hill you begin to pick up speed.&rdquo;</blockquote></h3>
				</section>
			</div>
		</div>
            

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
						<section class="4u 6u(medium) 12u$(small)">
							<h3>Lorem ipsum</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
							<ul class="alt">
								<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
								<li><a href="#">Quod adipisci perferendis et itaque.</a></li>
								<li><a href="#">Itaque eveniet ullam, veritatis reiciendis?</a></li>
								<li><a href="#">Accusantium repellat accusamus a, soluta.</a></li>
							</ul>
						</section>
						<section class="4u 6u$(medium) 12u$(small)">
							<h3>Nostrum, repellat!</h3>
							<p>Tenetur voluptate exercitationem eius tempora! Obcaecati suscipit, soluta earum blanditiis.</p>
							<ul class="alt">
								<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
								<li><a href="#">Id inventore, qui necessitatibus sunt.</a></li>
								<li><a href="#">Deleniti eum odit nostrum eveniet.</a></li>
								<li><a href="#">Illum consectetur quibusdam eos corporis.</a></li>
							</ul>
						</section>
							
						<section class="4u$ 12u$(medium) 12u$(small)">
							<h3>Contact Us</h3>
							<ul class="icons">
								<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							
							<ul class="tabular">
								<li>
									<h3>Address</h3>
									1234 Somewhere Road<br>
									Nashville, TN 00000
								</li>
								<li>
									<h3>Mail</h3>
									<a href="#">lethalskillzz@gmail.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									(+234) 81-83667025
								</li>
							</ul>
						</section>
							
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; 2016 QuickType. All rights reserved.</li>
							</ul>
						</div>						
					</div>
				</div>
			</footer>


	<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <p style="color: white;font-size: 18px;font-weight: bold;">TRY IT!</p>
    </div>
    <div class="modal-body">
     <ul class="actions">
		<li><a href="#login" id="google_login" class="button special" style="color: white;font-size: 25px;font-weight: bold;">LOGIN WITH GOOGLE</a></li>
     </ul>
    </div>
  </div>

</div>
   
  </body>

</html>
